{% extends 'admin.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
    <h1>Create new Reclamation</h1>

    {{ include('back/reclamation/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('back_reclamation_index') }}">back to list</a>
{% endblock %}
